{% extends 'base.html' %}

{% block tytle %}
    Контакты
{% endblock%}
{% block body %}
<div class="container">
    <h2>Контакты</h2>

    <h3>Волков Алексей Александрович</h3>

    <img  width="200" height="200"src="../static/img/me.jpg" class="rounded m-3" alt="фото автора">


    <ul class="list-group">
  <li class="list-group-item">должность: преподаватель ДО IT-Куб г.Ядрин</li>
  <li class="list-group-item">направление: программирование на языке Python</li>
  <li class="list-group-item">email: ptolome1984@gmail.com</li>
  <li class="list-group-item">tel: +79585530669</li>
  <li class="list-group-item">адрес: Чувашская Республика г. Ядрин, Россия 429060, ул. 50 лет Октября д.71 Г.</li>
</ul>

</div>

{% endblock%}