{% extends 'base.html' %}

{% block tytle %}
    Фотогаллерея
{% endblock %}
{% block body%}
<div class="container">
        <h3 class="text-center">Фотогаллерея работ студентов IT-Куб г.Ядрин</h3>
        <div class="text-center">
          <h4 class="m-3">Калькулятор с голосовым вводом данных</h4>
             <div class="m-2" >Программа написана на языке программирования Python. Позволяет вводить цифры голосом</div>
          <img width="500" height="400" src="../static/img/calk.png" class="rounded-3" alt="логотип It-Kуб г. Ядрин ">
            <h4  class="m-3">Программа шифрования данных</h4>
            <div class="m-2">Программа написана на языке программирования Python. Шифрует и дешифрует данные</div>
          <img  width="500" height="400" src="../static/img/shifr.png" class="rounded-3" alt="логотип It-Kуб г. Ядрин ">

           <h4 class="m-3">Помщник секретаря</h4>
             <div class="m-2">Программа написана на языке программирования Python. Предназначение: помогает сотруднику быстрее набирать текст. используя голосовой ввод данных и абривиатуры</div>
          <img  width="500" height="400" src="../static/img/sekr.png" class="rounded-3" alt="логотип It-Kуб г. Ядрин ">



</div>
{% endblock %}