<!--{% extends 'base.html' %}-->




<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">-->
<!--    <title>Домашняя страничка</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1> Приветствую у себя на страничке</h1>-->
<!--<div>-->
<!--    Это место для картинки-->
<!--    <img src="{{ url_for('static', filename = 'img/menu_3.png')}}">-->
<!--</div>-->
<!--<div>-->
<!--    Это место для ссылки-->
<!--    <a href="#">This is text</a>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->