{% extends 'base.html' %}

{% block tytle %}
    Контакты
{% endblock%}
{% block body %}
<div class="container">
    <h2>Образовательные модули</h2>

    <div class="row">
      <div class="col-sm-6">
            <div class="card bg-secondary">

                   <div class="card-body bg-light">
                        <h5 class="card-title">Основы web-разработки на Python</h5>
                         <ul class="list-group">
                            <li class="list-group-item">Создание сайта на конструкторе TILDA</li>
                            <li class="list-group-item">Знакомсво с HTML  & CSS</li>

                            <li class="list-group-item">Изучение Flask / - Создание веб сайтов на Python</li>
                            <li class="list-group-item"> Разработка страниц и добавление стилей(Flask)</li>
                            <li class="list-group-item">Публикация на сервер</li>
                        </ul>

                  </div>

            </div>
      </div>

  <div class="col-sm-6">
    <div class="card bg-secondary">
      <div class="card-body bg-light">
            <h5 class="card-title">Основы Пограммирования Python</h5>
           <ul class="list-group"><li class="list-group-item">Знакомство с Python. Типы данных и переменные.</li>
                <li class="list-group-item">Методы строк. Индексы. Срезы.</li>
                <li class="list-group-item">Условные конструкции и операторы. Практика задач на ветвление.</li>
                <li class="list-group-item"> Практикум решения задач на условный оператор, индексы, методы строк и чисел.</li>
                <li class="list-group-item">Сложные условия. Логические операторы.</li>
                <li class="list-group-item">Цикл for и while.</li>
                <li class="list-group-item">библиотека turtle</li>
                <li class="list-group-item"> Списки</li>
                <li class="list-group-item">Словарь</li>
                <li class="list-group-item">Функции</li>
                <li class="list-group-item">ООП</li>
                <li class="list-group-item">Работа с файлами: запись, чтение</li>
            </ul>
      </div>

    </div>
  </div>

</div>

{% endblock%}