{% extends 'base.html' %}

{% block tytle %}
    Контакты
{% endblock%}
{% block body %}
<div class="container">
    <h2>Вектор развития</h2>

<div class="row">
    <div class="col-sm-6">
    <div class="card bg-secondary">
      <div class="card-body bg-light">
            <h5 class="card-title">Основы Пограммирования Python</h5>
          <p class="card-text">Python-это язык компьютерного программирования, часто используемый для создания веб-сайтов и программного обеспечения, автоматизации задач и проведения анализа данных.
              Он может использоваться для создания множества различных программ и не специализируется на каких-либо конкретных проблемах. Достаточно легкий в изучении.
          </p>
      </div>

    </div>
  </div>
      <div class="col-sm-6">
            <div class="card bg-secondary">

                   <div class="card-body bg-light">
                        <h5 class="card-title">Основы web-разработки на Python</h5>
                            <p class="card-text">Python широко используется в разработке веб-сайтов.
                                 Поскольку его относительно легко выучить, Python широко используется для создания серверной части веб‑приложений с использованием таких фреймворков, как Django, Flask или FastAPI

                  </div>

            </div>
      </div>


</div>

{% endblock%}